<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Resultados de la Calculadora</title>
</head>
<body>
    <h1>Resultados de la Calculadora</h1>
    <form action="{{ url_for('index') }}" method="get">
        <p>El resultado total es: <strong>{{ resultado_total }}</strong></p>
        <button type="submit">Volver a calcular</button>
    </form>
</body>
</html>
